<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Livraison{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="crossorigin="anonymous"></script>
  
        
        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ asset('css/shop-homepage.css') }}">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
        <link rel="stylesheet" href="{{ asset('css/font-awesome-4.7.0/css/font-awesome.min.css') }}">
        
        
        <!--<script type="text/javascript" src="http://maps.google.com/maps/api/js?language=fr&key=AIzaSyAqPIq6AyqDqxPvZhmSjXchadEnNlx2M8s"></script>-->
    <!--    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&language=fr&key=AIzaSyBJw-XkvLaXxxf2Jm27epe-qacbUnnYXwc"></script>-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJw-XkvLaXxxf2Jm27epe-qacbUnnYXwc"></script>
      <!--  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqPIq6AyqDqxPvZhmSjXchadEnNlx2M8s&libraries=geometry&callback=initialisation"></script>-->
        
        
        <style type="text/css">
   
            #map{width:500px;height:300px;margin:auto;}
   
  </style>
    
    </head>
    <body>
        
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                
               
                
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" style="font-size:50px;color:#1CF711;margin-top: 40px;margin-bottom: -30px;" href="#">Fast and Glorious</a>
                </div>
                
                
                
                
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                
                    <ul class="nav navbar-nav navbar-right">
                        
                        {% if app.session.get('client').role is defined %}
                             <li><a>Bonjour {{ app.session.get('client').prenom }} {{ app.session.get('client').nom }}</a></li>
                        {% endif %}  
                        
                        {% if app.session.get('client') == 'admin' %}
                            
                            
                            <li><a href="{{ path('utilisateur_index') }}">Utilisateurs</a></li>
                            <li><a href="{{ path('course_index') }}">Courses</a></li>
                            <li><a href="{{ path('deconnexion') }}">Déconnexion</a></li>
                       
                        
                        {% elseif app.session.get('client').role is defined and app.session.get('client').role == 'ROLE_CLIENT' %}
                            
                            <li><a href="{{ path('ListeCoursesClients') }}">Liste des courses</a></li>
                            <li><a href="{{ path('app_ajoutercourse_ajoutercourse') }}">Ajouter Course</a></li>
                            <li><a href="{{ path('deconnexion') }}">Déconnexion</a></li>
                            
                        {% elseif app.session.get('client').role is defined and app.session.get('client').role == 'ROLE_LIVREUR' %}
                             
                            <li><a href="{{ path('ListeCoursesLivreur') }}">Liste des courses</a></li>
                            <li><a href="{{ path('deconnexion') }}">Déconnexion</a></li>
                           
                        {% else %}   
                            
                            <li><a href="{{ path('app_inscription_inscription') }}">Inscription</a></li>
                            <li><a href="{{ path('app_connexion_connexion') }}">Connexion</a></li>
                            
                        {% endif %}  
                        
 
                      
                      
                    </ul>
                        
                        
                         <div class="row">
                    <div class="col-sm-12 text-center">
                    <img class="img-responsive text-center" width="150px" src="{{ asset('image/cycle.png') }}"  style="margin: auto;margin-top: -62px;margin-left: 425px;">
                    </div>
                </div>
                    
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
        <div class="container">                
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
