{% extends "::base.html.twig" %}

{% block title %}AppBundle:ListeCoursesClient:ListeCoursesClients{% endblock %}

{% block body %}
<h1> Liste de vos courses en cours</h1>
<div class="row">
        <div class="col-lg-9">     
                      
            <div class="table-responsive">

                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Point de retrait</th>
                            <th>Point de livraison</th>
                            <th>Prix</th>                          
                            <th>Nom du livreur</th>
                            <th>Prénom du livreur</th>
                            <th>Etat</th>     
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
            {% for course in courses%}

                        <tr>
                            <td> {{course.PdeRetrait}} </td>  
                            <td> {{course.PdeLivraison}} </td>   
                            <td> {{course.prix}} </td>                           
                            <td> {% if course.livreur.nom is defined %} {{course.livreur.nom}} {% endif %}</td>
                            <td> {% if course.livreur.prenom is defined %}{{course.livreur.prenom}} {% endif %}</td>                          
                            <td> {{course.etat}}</td>
                             {% if course.etat != 'Livrée' and  course.livreur.nom is defined %}
                                 <td> <a href="{{ path("ValidationReceptionCourse", {idCmd: course.id})}}">validation de la réception</a></td>
                            {% elseif course.livreur.nom is not defined %} 
                                <td>En attente d'un livreur</td>
                            {% else %}   
                                <td></td>
                            {% endif %}
                          
                        </tr>

            {% endfor%}
                    </tbody>
                    </table>
 </div>
        </div>
    </div> 
{% endblock %}
