{% extends 'base.html.twig' %}

{% block body %}
    <h1>Course</h1>

    <div class="table-responsive">

        <table class="table table-bordered table-hover">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ course.id }}</td>
                </tr>
                <tr>
                    <th>Pderetrait</th>
                    <td>{{ course.pdeRetrait }}</td>
                </tr>
                <tr>
                    <th>Pdelivraison</th>
                    <td>{{ course.pdeLivraison }}</td>
                </tr>
                <tr>
                    <th>Etat</th>
                    <td>{{ course.etat }}</td>
                </tr>
                <tr>
                    <th>Prix</th>
                    <td>{{ course.prix }}</td>
                </tr>
            </tbody>
        </table>

        <ul class="list-unstyled list-inline">
            <li>
                <a href="{{ path('course_index') }}" class="btn btn-primary" >Retour à la liste</a>
            </li>
            <li>
                <a href="{{ path('course_edit', { 'id': course.id }) }}" class="btn btn-warning" >Modifier</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                    <input type="submit"  value="Supprimer" class="btn btn-danger">
                {{ form_end(delete_form) }}
            </li>
        </ul>
    </div>
{% endblock %}
